.container{
  margin: 0;
  padding: 0;
}

.hero{
  background-image: url('https://www.hulu.com/static/hitch/s3/attachments/ckbvd0gyz00xg19mlsu9nayv7-homepage-masthead-test-desktop-3200x1320-v4c-6-16-20.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.logindiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0;
  background-image: linear-gradient(black, transparent);
}

.login{
  margin: 0;
  font-size: .7rem;
}

.loginform{
  display: none;
  background-color: white;
  color: black;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.loginput{
  width: 100%;
  height: 1.4rem;
}

.logcover{
  display: flex;
  justify-content: center;
}

.loginbutton{
  background-color: black;
  color: white;
  border: 0;
  padding: .4rem 1.8rem;
}

.input{
  margin-top: -15px;
}

.formtitle{
  margin: 0;
}

.heroinfo{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  height: 60%;
  padding: 2rem 1rem;
}

.trialbutton{
  padding: .6rem 1.1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: .5rem;
  margin-bottom: .5rem;
}

.try{
  font-size: .5rem;
  margin-bottom: 1rem;
  color: #27a387;
  font-weight: 700;
}

.trialbutton:hover{
  background-color: rgba(255, 255, 255, 0.651);
  cursor: pointer;
}

.bottomhero{
  background-image: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: 1rem 2rem;
}

.herobundle{
  flex: .8;
}

.trial{
  font-size: .35rem;
  color: rgba(255, 255, 255, 0.589);
}

.herowatch{
  font-size: .8rem;
  font-weight: 600;
}

.herohbo{
  font-size: .6rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.getbundlediv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.getbundle{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-weight: 700;
  padding: .5rem;
  font-size: .5rem;
  margin-bottom: 14px;
}

.herobundle1{
  color: #27a387;
  font-size: .5rem;
}

.herobundle2{
  font-size: .85rem;
  margin: 0;
}

.herobundledetails{
  font-size: 0.45rem;
  text-decoration: underline;
}

.threelogos{
  height: fit-content;
  flex-shrink: 1;
}

.terms{
  font-size: 0.4rem;
  text-decoration: underline;
}

.catinc{
  font-size: .6rem;
  color: #27a387;
}

.categories{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.categorywrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.topcat{
  width: 850px;
  text-align: center;
}

.catp{
  font-size: .8rem;
  text-align: center;
}

.plans{
  display: grid;
  justify-items: center;
  padding: 0 1.5rem;
}

.planswrapper{
  padding: 0 12%;
}

.head{
  display: grid;
  position: sticky;
  top: 0;
  background-color: white;
  grid-template-columns: 40% 20% 20% 20%;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.headcard{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 1rem .5rem;
  text-align: center;
}

.headtitle{
  font-size: .85rem;
}

.headm{
  background-color: rgba(128, 128, 128, 0.103);
}

.sel{
  margin-top: 1rem;
}

.headselect{
  padding: 0;
}

.topdetails{
  font-size: .65rem;
  margin-bottom: 0;
}

.headtitle{
  font-size: .65rem;
  width: max-content;
  margin: .3rem;
  padding: 0;
}

.headmp{
  font-size: .4rem;
  width: max-content;
  padding: .4rem .6rem;
  background-color: grey;
  color: white;
  border-radius: 20px;
  margin-bottom: 0;
}

.headoffer{
  font-size: .54rem;
  width: max-content;
  margin-top: 0;
  color: grey;
}

.headbutton{
  font-size: .45rem;
  background-color: black;
  color: white;
  outline: none;
  border: 0;
  border-radius: 4px;
  padding: .6rem 1rem;
}

.headcardblock{
  display: flex;
}

.tiny{
  font-size: .4rem;
  padding-left: .5rem;
  padding-bottom: 3rem;
}

.addons{
  text-align: center;
  padding: 1rem 0;
  margin-top: 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
  border-top: 1px solid rgba(128, 128, 128, 0.226);
}

@media screen and (max-width: 1200px) {
  .categorywrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 1130px){
  .planswrapper{
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .head{
    grid-template-columns: 1fr;
  }

  .headselect{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .plans{
    padding: 0;
  }
}

@media screen and (max-width: 870px) {
  .topcat{
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .categorywrapper{
    gap: 1.2rem;
  }

  .heroinfo{
    width: 100%;
  }

  .bottomhero{
    flex-direction: column;
  }
}

@media screen and (max-width: 434px) {
  .headcard{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 .4rem;
    text-align: center;
  }
}