.container{
  margin: 0;
  padding: 0;
  position: relative;
}

.hero{
  background-image: url('https://www.hulu.com/static/hitch/s3/attachments/ckbvd0gyz00xg19mlsu9nayv7-homepage-masthead-test-desktop-3200x1320-v4c-6-16-20.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.logodiv{
  width: 42%;
  margin: 0 auto;
}

.logindiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0;
  background-image: linear-gradient(black, transparent);
}

.login{
  margin: 0;
  font-size: .7rem;
  cursor: pointer;
}

.loginform{
  display: none;
  background-color: white;
  color: black;
  padding: 1.5rem;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.loginput{
  width: 100%;
  height: 1.4rem;
}

.logcover{
  display: flex;
  justify-content: center;
}

.loginbutton{
  background-color: black;
  color: white;
  border: 0;
  padding: .4rem 1.8rem;
}

.input{
  margin-top: -10px;
  padding: 0;
}

.close{
  float: right;
}

.close:hover, .loginclose:hover{
  cursor: pointer;
}

.formtitle{
  margin: 0;
}

.heroinfo{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  height: 60%;
  padding: 2.6rem 1rem 2rem;
}

.trialbutton{
  padding: .6rem 1.1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: .5rem;
  margin-bottom: .5rem;
}

.try{
  font-size: .5rem;
  margin-bottom: 1rem;
  color: #27a387;
  font-weight: 700;
}

.trialbutton:hover{
  background-color: rgba(255, 255, 255, 0.651);
  cursor: pointer;
}

.bottomhero{
  background-image: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: 1rem 2rem;
}

.bottomhero>div{
  margin: 0 10px;
}

.herobundle{
  flex: .8;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
}

.trial{
  font-size: .35rem;
  color: rgba(255, 255, 255, 0.589);
}

.herowatch{
  font-size: .8rem;
  font-weight: 600;
}

.herohbo{
  font-size: .6rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.getbundlediv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.getbundle{
  width: max-content;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-weight: 700;
  padding: .5rem;
  font-size: .5rem;
  margin-bottom: 14px;
}

.herobundle1{
  color: #27a387;
  font-size: .5rem;
  margin-top: 0;
  
}

.herobundle2{
  font-size: .85rem;
  margin: 0;
}

.herobundledetails{
  font-size: 0.45rem;
  text-decoration: underline;
}

.threelogos{
  height: fit-content;
  flex-shrink: 1;
}

.terms{
  font-size: 0.4rem;
  text-decoration: underline;
}

.catinc{
  font-size: .6rem;
  color: #27a387;
}

.categories{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.categorywrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.topcat{
  width: 850px;
  text-align: center;
}

.catp{
  font-size: .8rem;
  text-align: center;
}

.plans{
  display: grid;
  justify-items: center;
  padding: 0 1.5rem;
}

.planswrapper{
  padding: 0 12%;
}

.head{
  display: grid;
  position: sticky;
  top: 0;
  background-color: white;
  grid-template-columns: 40% 20% 20% 20%;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.headcard{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 1rem .5rem;
  text-align: center;
}

.headtitle{
  font-size: .85rem;
}

.headm{
  background-color: rgba(128, 128, 128, 0.103);
}

.sel{
  margin-top: 1rem;
}

.topdetails{
  font-size: .65rem;
  margin-bottom: 0;
}

.headtitle{
  font-size: .65rem;
  width: max-content;
  margin: .3rem;
  padding: 0;
}

.headmp{
  font-size: .4rem;
  width: max-content;
  padding: .4rem .6rem;
  background-color: grey;
  color: white;
  border-radius: 20px;
  margin-bottom: 0;
}

.headoffer{
  font-size: .54rem;
  width: max-content;
  margin-top: 0;
  color: grey;
}

.headbutton{
  width: max-content;
  font-size: .45rem;
  background-color: black;
  color: white;
  outline: none;
  border: 0;
  border-radius: 4px;
  padding: .6rem 1rem;
}

.headcardblock{
  display: flex;
}

.tiny{
  font-size: .4rem;
  padding-left: .5rem;
  padding-bottom: 3rem;
}

.hideaddons{
  display: block;
}

.hide{
  cursor: pointer;
  text-align: center;
  padding: 1rem 0;
  margin-top: 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
  border-top: 1px solid rgba(128, 128, 128, 0.226);
}

.threelogos{
  width: 25%;
}



.catcontainer{
  display: none;
  width: 80%;
  height: 100vh;
  background-color: black;
  color: white;
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  overflow-y: scroll;
}

.catcontainer::-webkit-scrollbar{
  width: 0px;
}

.pagetitle{
  position: sticky;
  top: 0;
  font-size: .7rem;
  z-index: 2;
  padding: .5rem;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.164);
}

.pagewrap{
  background-image: url('/wallpapers.jpg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.pagedetails{
  bottom: 0;
  padding: 14rem 1rem 6rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.164), black);
}

.cardtitle{
  padding-bottom: 0;
  font-weight: 800;
  font-size: .8rem;
  margin-top: 5rem;
}

.cardrating{
  font-size: .65rem;
}

.carddetails{
  font-size: 0.65rem;
}

.details{
  width: 570px;
  margin: 0;
  font-size: .9rem;
}

.cardwrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0 0 1rem;
}

.cardwrapper>div{
  flex-basis: 45%;
  padding: 1rem;
}

.imgcard{
  float: left;
  margin-right: 20px;
}

.latest{
  font-size: .8rem;
  padding-left: 2rem;
}

.loginclose{
  background-color: transparent;
  position: absolute;
  top: 0;
  right: .5rem;
}


.catcard{
  position: relative;
}

.catcard:hover{
  cursor: pointer;
}

.cattext{
  width: 100%;
  position: absolute;
  top: 0;
  padding-left: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.822) 10%, transparent );
}

.category{
  margin-top: 0;
}

.tag{
  font-size: .6rem;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .categorywrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
    row-gap: 2rem;
  }

  .catcontainer{
    width: 100%;
  }
}

@media screen and (max-width: 1130px){
  .planswrapper{
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .head{
    grid-template-columns: 1fr;
  }

  .headselect{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .plans{
    padding: 0;
  }

  .gettext{
    display: none;
  }

  .loginform{
    display: none;
  }

  .login{
    visibility: hidden;
  }

  .login::after{
    content: 'Menu';
    font-weight: 700;
    visibility: visible;
  }

  .headselect, .available{
    padding: 0 2rem;
  }
  
  .available{
    text-align: center;
  }

  .threelogos{
    width: 40%;
  }

  .herobundledetails{
    visibility: hidden;
  }

.catcontainer{
    top: 0;
}

.cardwrapper>div{
  flex-basis: 100%;
  padding: 1rem;
}

.details{
    width: 100%;
}
}

@media screen and (max-width: 870px) {
  .topcat{
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .categorywrapper{
    gap: 1.2rem;
  }

  .heroinfo{
    width: 100%;
  }

  .bottomhero{
    flex-direction: column;
  }
}

@media screen and (max-width: 434px) {
  .headcard{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 .4rem;
    text-align: center;
  }
}