.card{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    justify-content: center;
}

.title{
    margin: 0;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.price{
    margin: 0;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.headm{
    background-color: rgba(128, 128, 128, 0.103);
}

@media screen and (max-width: 900px) {
    .card{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .title{
        grid-column: 1 / span 4;
        text-align: center;
    }
}